In [1]:
#use of append()
saarc=['bangladesh','india','sri lanka','pakistan','nepal']
saarc.append('afganisthan')
print(saarc)

['bangladesh', 'india', 'sri lanka', 'pakistan', 'nepal', 'afganisthan']

In [2]:
saarc.sort()
print(saarc)

['afganisthan', 'bangladesh', 'india', 'nepal', 'pakistan', 'sri lanka']

In [3]:
li=[1,3,5,6,7,15,36,94,85,558,485,66,2,3,4,8,9]
li.sort()
print(li)

[1, 2, 3, 3, 4, 5, 6, 7, 8, 9, 15, 36, 66, 85, 94, 485, 558]

In [4]:
li.reverse()
print(li)

[558, 485, 94, 85, 66, 36, 15, 9, 8, 7, 6, 5, 4, 3, 3, 2, 1]

In [5]:
saarc.insert(4,'japan')
print(saarc)

['afganisthan', 'bangladesh', 'india', 'nepal', 'japan', 'pakistan', 'sri lanka']

In [6]:
saarc.remove('india')
saarc

['afganisthan', 'bangladesh', 'nepal', 'japan', 'pakistan', 'sri lanka']

In [7]:
#condition remove
fruits=['mango','banana','orange']
item=('pineapple')
if item in fruits:
    remove(item)
else:
    print(item,'not in list ')

pineapple not in list

In [8]:
fruits=['mango','banana','orange']
item=fruits.pop()
item

'orange'

In [9]:
fruits

['mango', 'banana']

In [10]:
li=[1,3,5,6,7,15,36,94,85,558,485,66,2,3,4,8,9]
li.count(3)

2

In [12]:
li=[1,2,3,4]
new_li=[]
for x in li:
    new_li.append(2*x)
print(new_li)

[2, 4, 6, 8]

In [4]:
#even number list
li=[1,2,5,4,3,20,14,6,9,87,8,30,12,16,45,46]
even_li=[]
for x in li:
    if x%2==0:
        even_li.append(x)     
print(even_li)

[2, 4, 20, 14, 6, 8, 30, 12, 16, 46]